@page "/"

<PageTitle>Home</PageTitle>

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1>Welcome to your new app.</h1>
        <h3>Information</h3>
        <ul class="list-unstyled">
            <li>Go to the Categories page.</li>
            <li>Select and click on the category you want.</li>
            <li>View the products available in that category.</li>
        </ul>
    </div>
</div>